@font-face {
    font-family: "IBM Plex Mono";
    src: url('https://hackernoon.com/fonts/IBM/IBM-Plex-Mono/fonts/complete/woff2/IBMPlexMono-Regular.woff2');
}

body {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: white;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
}

.nav-item {
    display: inline;
    cursor: pointer;
    padding: 8px;
}

.nav-item:hover {
    color: rgb(209, 27, 118);
    background-color: rgb(245, 245, 220);
    border-radius: 10px;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

#hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 96px;
    row-gap: 0px;
    margin-top: 36px;
    font-size: 28px;
}

#post a {
    color: white;
}

.bongocat {
    width: 100px;
}